html {
  background-image: url("pexels-pixabay-256541.jpg");
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.icon {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 36em;
}
.heading {
  position: absolute;
  top: 0em;
  left: 16em;
}
.h11 {
  position: absolute;
  top: 1.5em;
  left: 9em;
}
.ln {
  background-color: white;
  width: 30em;
  height: 22em;
  position: absolute;
  top: 3em;
  left: 4em;
  border-radius: 1em;
}
.image {
  width: 25em;
  height: 70%;
  position: absolute;
  top: 3em;
  left: 37em;
}
.imagee {
  width: 30em;
  height: 22em;
  border-radius: 1em;
}
.container {
  background-color: white;
  width: 45%;
  height: 70%;
  position: absolute;
  left: 25em;
  top: 9.8em;
  border-radius: 1rem;
}
.unq {
  position: absolute;
  top: 4em;
  left: 2em;
  width: 25em;
  border-color: black;
}
.pass {
  position: absolute;
  top: 8em;
  left: 2em;
  width: 25em;
  border-color: black;
}
.dp {
  position: absolute;
  top: 12em;
  left: 2em;
  width: 25em;
  border-color: black;
}
.submit {
  position: absolute;
  top: 18em;
  left: 2em;
  width: 25em;
}
.message {
  position: relative;
  left: 2em;
}
input.placeholder {
  text-align: center;
}
